.body{
    width: 100%;
}
.wrapper{
    width: 400px;
    margin: auto;
}
.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.side{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.center{
    float: right;
    width: 250px;
    height: 250px;
}
.center-right{
    width: 250px;
    clear: both;
    float: right;
}
.center-right-top{
    width: 250px;
    height: 100px;
    background-color: #0093b7;
}

.center-right-bottom-left{
    float: left;
    height: 150px;
    width: 100px;
    background-color: #dbd403;
}
.center-right-bottom-right{
    float: right;
    width: 150px;
    height: 150px;
}
.center-right-bottom-right-top{
    height: 50px;
    width: 150px;
    background-color: #ff9e6b;
}
.center-right-bottom-right-bottom{
    width: 150px;
    height: 100px;
    background-color: #8c2727;
}
.footer{
    clear: both;
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
